.contacts {
	position: relative;
	padding: 50px 0;
	overflow: hidden;
	z-index: 1;
	pointer-events: none;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		opacity: 0.5;
		background-color: $accent;
	}

	&__icon {
		margin-bottom: 15px;
	}

	&__title {
		font-family: $sec-font;
		@include text-styling($main-title, 700, $white);
		text-transform: uppercase;
	}

	&__wrap {
		display: flex;
		position: relative;
		height: 200px;

		&-card {
			position: absolute;
			right: -285px;
			display: flex;
			width: 100%;
			max-width: 350px;
			pointer-events: all;
			transition: all .3s ease;
			cursor: pointer;


			@media all and (max-width: 991px) {
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
			}

			&:hover {
				right: -20px;
			}

			&:last-child {
				top: 92px;

				@media all and (max-width: 991px) {
					top: 112px;
				}
			}

			&:last-child:hover {
				right: -16px;
			}

			&-icon {
				background-color: $accent;
				$size: 85px;
				min-width: $size;
				min-height: $size;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-text {
				display: flex;
				align-items: center;
				justify-content: center;
				@include text-styling($base-size, 400, $grey);
				background-color: rgba($lightgrey, .6);
				text-align: center;
				padding: 10px 25px;

				@media all and (min-width: 768px) {
					padding: 10px 35px;
				}

				&:last-child {
					width: 100%;
				}
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		pointer-events: all;
		width: 100%;

		&-name,
		&-email,
		&-message {
			background-color: rgba($lightgrey, .7);
			color: $white;
			font-style: italic;
			border: none;
			border-radius: 2px;
			padding: 15px 0 15px 20px;

			@include placeholder {
				@include text-styling($base-size, 400, $white);
			}
		}

		&-wrap {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-bottom: 20px;

			@media all and (min-width: 768px) {
				flex-direction: row;
				justify-content: space-between;
			}
		}

		&-name,
		&-email {
			width: 100%;

			@media all and (min-width: 768px) {
				width: 48%;
			}
		}

		&-name {
			margin-bottom: 20px;

			@media all and (min-width: 768px) {
				margin-bottom: 0;
			}
		}

		&-message {
			width: 100%;
			margin-bottom: 40px;
			resize: none;
			min-height: 200px;
		}

		&-btn {
			background-color: $accent;
			font-family: $sec-font;
			@include text-styling($middle-size, 700, $white);
			padding: 20px 60px;
			text-transform: uppercase;
			border: 1px solid $grey;
			border-radius: 5px;
			transition: all .3s ease;

			&:hover,
			&:active {
				color: $grey;
				font-weight: 900;
			}

			@media all and (max-width: 991px) {
				width: 100%;
			}
		}
	}
}
