<section id="about" class="about">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-4">
				<div class="img-wrapper">
					<img src="img/about-item.png" alt="AboutImg" class="about__img">
					<div class="about__card">
						<img src="../../img/about-us-icon.png" height="54" width="50" alt="about.ejs" class="about__card-icon">
						<h2 class="about__card-title">about us</h2>
					</div> 
				</div>
			</div>
			<div class="col-lg-7">
				<div class="about__description">
					<div class="about__description-content">
						<p class="about__description-text">
							Nullam quis risus eget urna <span class="about__description-bold">mollis ornare</span> vel eu leo. Donec id elit
							non mi porta gravida at eget metus.
							Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum
							faucibus
							dolor auctor.
						</p>
						<p class="about__description-text">
							<span class="about__description-bold">Morbi leo risus,</span> porta ac consectetur ac, vestibulum at eros.
							Vivamus sagittis lacus vel augue laoreet
							rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
							vestibulum.
							Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Sed posuere
							consectetur
							est at lobortis.
						</p>
					</div> 
					<a href="#" class="about__description-link">learn more</a>
				</div>
			</div>
		</div>
	</div>
</section>