<section id="contact" class="contacts">
	<div id="map"></div>
	<div class="container mb-4 mb-md-5">
		<div class="row">
			<div class="col-12 d-flex flex-column align-items-center">
				<img src="../../img/contacts-icon.png" alt="" class="contacts__icon">
			<h2 class="contacts__title">get in touch</h2>
		</div>
	</div>
</div>
<div class="container-fluid mb-4">
	<div class="contacts__wrap">
		<div class="contacts__wrap-card">
			<div class="contacts__wrap-card-icon">
				<img src="../../img/contacts-address-icon.png" height="36" width="38" alt="">
		</div>
		<p class="contacts__wrap-card-text">Ikan Piranha Atas 220C
			Malang - East Java
		Indonesia</p>
	</div> 
	<div class="contacts__wrap-card">
		<div class="contacts__wrap-card-icon">
			<img src="../../img/contacts-phone-icon.png" height="34" width="20" alt="">
	</div>
	<p class="contacts__wrap-card-text">+38 (000) 123 456 789</p>
</div>
</div> 
</div> 
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-xl-8 d-flex flex-column align-items-center">
			<form action="#" class="contacts__form">
				<div class="contacts__form-wrap">
					<input type="text" class="contacts__form-name" placeholder="Your name *" required>
					<input type="email" class="contacts__form-email" placeholder="Your Email *">
				</div> 
				<textarea class="contacts__form-message" name="text" placeholder="Your Message *" required></textarea>
				<input class="contacts__form-btn" type="submit" value="SEND MESSAGE">
			</form>

		</div>
	</div>
</div>
