</section><footer class="footer">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-md-6 col-lg-4 mb-3 mb-md-0">
				<p class="footer__copy">©2014 <span class="footer__copy-bold">tulus</span>driyo. All Rights Reserved.</p>
			</div>
			<div class="col-md-6 col-lg-3">
				<ul class="footer__social">
					<li class="footer__social-item">
						<a href="#" class="footer__social-link" target="_blank">
							<i class="fab fa-behance"></i>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="#" class="footer__social-link" target="_blank">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="#" class="footer__social-link" target="_blank">
							<i class="fab fa-google-plus-g"></i>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="#" class="footer__social-link" target="_blank">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li class="footer__social-item">
						<a href="#" class="footer__social-link" target="_blank">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>