<section id="ourTeam" class="our-team">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 d-flex flex-column align-items-center mb-3 mb-md-4 mb-lg-5">
				<img src="../../img/meet-our-team-icon.png" height="60" width="60" alt="" class="our-team__icon">
				<h2 class="our-team__title">meet our team</h2>
			</div>
			<div class="col-10">

				<div class="owl-carousel owl-theme our-team__carousel">

					<div class="our-team__card">
						<div class="our-team__card-imgWrapper">
							<img src="img/OurTeam-Item-1.png" alt="OurTeamItem" class="our-team__card-img">
						</div>
						<div class="our-team__card-wrapper">
							<h3 class="our-team__card-title">miguel obrein</h3>
							<p class="our-team__card-text">CEO & Founder</p>
						</div>
						<ul class="our-team__card-social">
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-google-plus-g"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
						</ul> 
					</div> 

					<div class="our-team__card">
						<div class="our-team__card-imgWrapper">
							<img src="img/OurTeam-Item-2.png" alt="OurTeamItem" class="our-team__card-img">
						</div>
						<div class="our-team__card-wrapper">
							<h3 class="our-team__card-title">jackie carroll</h3>
							<p class="our-team__card-text">Art Director</p>
						</div>
						<ul class="our-team__card-social">
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-behance"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-google-plus-g"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
						</ul> 
					</div> 

					<div class="our-team__card">
						<div class="our-team__card-imgWrapper">
							<img src="img/OurTeam-Item-3.png" alt="OurTeamItem" class="our-team__card-img">
						</div>
						<div class="our-team__card-wrapper">
							<h3 class="our-team__card-title">ida morrison</h3>
							<p class="our-team__card-text">Designer</p>
						</div>
						<ul class="our-team__card-social">
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-behance"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-google-plus-g"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="our-team__card-item">
								<a href="#" class="our-team__card-link" target="_blank">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
						</ul> 
					</div> 

				</div> 
			</div>
		</div>
	</div>
</section> 