<section id="services" class="services pb-4 pb-lg-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 pr-lg-0">
				<div class="row">
					<div class="col-md-6 pr-md-0">
						<div class="services__content services-dark">
							<img src="../../img/our-services-graphic-design.png" height="61" width="47" alt="services.ejs" class="services__content-icon">

							<h3 class="services__content-title">graphic design</h3>
							<p class="services__content-text">Cras mattis consectetur purus sit amet fermentum.</p>
						</div> 
					</div>
					<div class="col-md-6">
						<div class="services__content">
							<img src="../../img/our-services-web-development.png" height="59" width="58" alt="services.ejs" class="services__content-icon">

							<h3 class="services__content-title">web development</h3>
							<p class="services__content-text">Cras mattis consectetur purus sit amet fermentum.</p>
						</div> 
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 order-1 order-md-0">
						<div class="services__content">
							<img src="../../img/our-services-seo-marketing.png" height="61" width="50" alt="" class="services__content-icon">
							<h3 class="services__content-title">seo & marketing</h3>
							<p class="services__content-text">Cras mattis consectetur purus sit amet fermentum.</p>
						</div> 
					</div>
					<div class="col-md-6 pl-md-0 order-0 order-md-1">
						<div class="services__content services-dark">
							<img src="../../img/our-services-mobile.png" height="61" width="36" alt="" class="services__content-icon">
							<h3 class="services__content-title">mobile development</h3>
							<p class="services__content-text">Cras mattis consectetur purus sit amet fermentum.</p>
						</div> 
					</div>
				</div>
			</div>
			<div class="col-lg-5 pl-lg-0 services__big">
				<div class="services__big-content">
					<img src="../../img/our-services1.png" height="60" width="62" alt="" class="services__big-content-icon">
					<h3 class="services__big-content-title">our services</h3>
					<blockquote class="services__big-content-text">
						“Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue.”
					</blockquote>
					<span class="services__big-content-author">- Borat -</span>
				</div> 
			</div>
		</section> 