<section id="works" class="works">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-8">
				<div class="works__content">
					<img src="../../img/recent-works-icon.png" height="60" width="40" alt="" class="works__content-icon">
					<h2 class="works__content-title">recent works</h2>
					<div class="owl-carousel owl-theme works__carousel">
						<div class="img-wrapper">
							<img src="img/works-item.jpg" alt="WorksItem" class="works__img">
						</div>
						<div class="img-wrapper">
							<img src="img/works-item.jpg" alt="WorksItem" class="works__img">
						</div>
						<div class="img-wrapper">
							<img src="img/works-item.jpg" alt="WorksItem" class="works__img">
						</div>
						<div class="img-wrapper">
								<img src="img/works-item.jpg" alt="WorksItem" class="works__img">
							</div>
					</div>
					<a href="#" class="works__content-link">view gallery</a>
				</div>
			</div>
		</div>
	</div>
</section> 